---
import BaseLayout from '@/layouts/BaseLayout.astro'
import products from '@/data/products.json'
import Card from '@/components/Card.astro'
---

<BaseLayout title="Shop">
  <div>
    <h1 class="mb-4 text-5xl font-bold">Astro Shop</h1>
    <h3 class="mb-8 text-xl text-gray-500">
      An example shop using View Transitions with
      <a href="https://astro.build/" class="text-black hover:underline">
        Astro
      </a>.
    </h3>
  </div>

  <div class="grid grid-cols-4 gap-4 py-8">
    {products.map((i) => <Card {...i} />)}
  </div>
</BaseLayout>
